{%if not API%}
  {%extends "main.html"%}
{%endif%}
{#
{%block feedsite_toolbar%}
<ul class="site_tool_bar span8">
  <div class="btn-group">
    <button class="btn"><i class="icon-repeat"></i></button>
  </div>
  
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Action
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <!-- dropdown menu links -->
    </ul>
  </div>
  
  
  <div class="btn-group">
    <button class="btn">Action</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <!-- dropdown menu links -->
    </ul>
  </div>
  
</ul>
{%endblock%}
#}

{%block reader_content%}

<div class='row-fluid'>
    <div id="sub-shower" class='span11'>
    <div class='row-fluid'>
    <div class="span12">
    {%for feed in feeds%}
      <div feedid="{{feed.id}}" class="sub-item-show reading-item {%if not session['user'].has_read(feed)%}unread-item{%endif%}">
          <h5><a href="{{feed.link}}" class="keep-link">{{feed.title}}</a></h5>
          <p>{{feed.content|safe}}</p>
          <div class="tool-btns">
              <a href="javasxript:void(0);" class="btn btn-small"> <i class="icon-star"></i></a>
          </div>
      </div>
    {%endfor%}
    <div style="height:500px;"></div>
    </div>
    </div><!--end of row-->
    {%include "footer.html"%}

    </div>
</div>

{%endblock%}
