{%extends "main.html"%}

{%block feedsite_toolbar%}
<ul class="site_tool_bar span9">
  <a href="#">Home</a> <span class="muted">/</span>
  <a href="#">Library</a> <span class="muted">/</span>
</ul>
{%endblock%}

{%block reader_content%}

<div class='row-fluid'>
    
    <div id="sub-shower" class='span11'>
    <div class='row-fluid'>
    <div class="span12">
    {%for feed in feedsite.feed_items%}
        <div class="sub-item-show reading-item">
            <h5><a href="{{feed.link}}" class="keep-link">{{feed.title}}</a></h5>
            <a class="keep-link" href=""><p>{{feed.content|safe}}</p></a>

            <div class="tool-btns">
                <a href="javasxript:void(0);" class="btn btn-small"> <i class="icon-star"></i></a>
            </div>
        </div>
    {%endfor%}
    </div>
    </div><!--end of row-->
    {%include "footer.html"%}

    </div>
</div>

{%endblock%}