{%extends "main.html"%}

{%block reader_content%}

<div class='row-fluid'>
    <div id="sub-shower" class='span11'>
      <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="muted">/</span></li>
        <li><a href="#">Library</a> <span class="muted">/</span></li>
        <li class="active">Data</li>
      </ul>
    <div class='row-fluid'>
    <div class="span9">
    {%for feed in feedsite.feed_items%}
        <div class="sub-item-show reading-item">
            <h5><a href="{{feed.link}}" class="keep-link">{{feed.title}}</a></h5>
            <a class="keep-link"href=""><p>{{feed.content|safe}}
            </p></a>
            
              <div class="btn-toolbar tool-btns">
                <div class="btn-group">
                  <a href="#" class="btn btn-danger">NEW</a>
                </div>
                <div class="btn-group ">
                  <a href="#" class="btn">All</a>
                  <a href="#" class="btn">Friends</a>
                  <a href="#" class="btn">Family</a>
                </div>
              </div>
        </div>
    {%endfor%}
    </div>
    </div><!--end of row-->
    {%include "footer.html"%}

    </div>
</div>






{%endblock%}