<div id="header">
    <div class="navbar navbar-googlenav">
      <div class="navbar-inner">
      <div class="row-fluid">
        <a class="brand span3" id="logo"href="/">Conureader <small id="logo_sub"class="muted">a google reader clone</small></a>
         <form class="navbar-form pull-left span4" style='margin-left:15px;'>
          <input type="text" class="span9 " placeholder="Search Reader">
          <i id="search-caret" class="icon-caret-down"></i>
          <button id='search-button'class="btn btn-primary" type="submit">
            <i class="icon-search icon-white"></i>
          </button>
        </form>
      
        <div id="social-buttons" class="span2">
            <button class="btn btn-small pull-right" title="facebook"><i class="icon-facebook icon-large"></i></button>
            <button class="btn btn-small pull-right" title="twitter"><i class="icon-twitter icon-large"></i></button>
            <button class="btn btn-small pull-right" title="github"><i class="icon-github-alt icon-large"></i></button>
            <button class="btn btn-small pull-right" title="google plus"><i class="icon-google-plus icon-large"></i></button>
        
        
        </div>
      {%include "include/topbar-user.html"%}
      {%include "include/topbar-setting.html"%}
     </div>
      </div>
  </div>
</div><!--end of header-->