<a id="subsribe-btn"class='btn btn-danger' data-toggle="popover" data-html=true data-placement="bottom" data-content='{%include "include/subsribe-btn.html"%}' href="javascript:void(0)" onclick="subBtnToggle($(this));">SUBSCRIBE</a>
<a id="donate-btn"class='btn btn-warning pull-right'>￥DONATE</a>
<div id="scrollable-sections-top-shadow"></div>
<ul class="nav nav-list scroll" id="nav-scroll">
  <li class="nav-header"> </li>
  <li id="home" class="active"><a href="javascript:void(0)" onclick="active('home')">Home</a></li>
  <li id="_star_items"><a href="javascript:void(0)" onclick="active('_star_items')">Star Item</a></li>
  <li id="readitlater"><a href="javascript:void(0)" onclick="active('readitlater')">Read It Later</a></li>
  <li id="about"><a href="javascript:void(0)" onclick="active('about')">About</a></li>
  <li class="divider"></li>

   <li id="subscription"class='li1'><a href="javascript:void(0)" onclick="active('subscription')"><i class='icon-caret-down unfold'></i><strong>Subscriptions</strong></a>
      <ul class='nav nav-list unstyled subnav folder'>
        {% import 'import/nav-folder.html' as f %}

        {%for tfolder in user.all_folders%}
          {{f.make_folder(tfolder)}}
        {%endfor%}
      </ul>
   </li>
</ul>