{% import 'import/nav-site.html' as s %}
{% macro make_folder(folder) -%}
<li id='{{folder.id}}'class="li2">
  <a href="javascript:go('/folder/{{folder.id}}')"><i class='icon-caret-down unfold'></i>
  <i class='icon-folder-open icon-large'></i>
  <strong>{{folder.name}}
    {%if folder.unread_feeds_counter%}
    <small class='muted normal fold-counter'>({{folder.unread_feeds_counter}})</small>
    {%endif%}
  </strong>
  </a>
  <ul class="nav nav-list unstyled">
  {%for site in folder.site_list%}
    {{s.make_site(site,folder.user.get_unread_feeds_on_feedsite(site))}}
  {%endfor%}
  </ul>
  </li>
{%- endmacro %}