<div class="btn-group offset2 span1">
  <a id='setting-btn' class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-cog"></i> <span class="caret"></span>
  </a>
  <ul id='setting-btn-menu'class="dropdown-menu">
    <li class="nav-header">Nav header</li>
    <li>
      <a href="#">
        <i class="icon-bookmark"></i> Bookmark
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="#"><i class="icon-download"></i> Download</a>
    </li>
  </ul>
</div>